[Unit]
Description=Adjusting screen brightness based on screen contents and amount of ambient light

[Service]
ExecStart=/usr/bin/wluma
Restart=always
EnvironmentFile=-%E/wluma/service.conf

[Install]
WantedBy=default.target
